<script src="https://malsup.github.io/jquery.form.js"></script> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
<link rel="stylesheet" href="Styles/cornerchat.css">
<div class="chatbox">
   <!-- Menubar -->
   <div class="chat-menubar">
      <img class="chat-close-img" src="Chat/speech-bubble.png" onclick="toggleChat()" title="double-click c to toggle">
      <span class="material-icons-round chat-menu-icon" onclick="window.location = '/start-video'">videocam</span>
      <span class="material-icons-round chat-menu-icon">settings</span>
      <span class="material-icons-round chat-menu-icon">group</span>
      <span class="material-icons-round chat-menu-icon" onclick="toggleChatMenu()">loop</span>
   </div>

   <!-- Messages and stuff -->
   <br>
   <!-- Template -->
   <div class="template-parent">
      <div class="message message-right">
         <img title="" class="image-right">
         <div class="shape-right"></div>
         <div class="little-chat-box">
            <span class="chat-text"></span>
            <br>
            <span class="time"></span>
            <div class="chat-edit-message">
               <img class="chat-edit-img" src="Chat/pencil.png" onclick="
               if (this.parentNode.classList.contains('open')) {
                  this.parentNode.classList.remove('open');
               } else { this.parentNode.classList.add('open'); }
               ">
               <div class="edit-msg-btns">
                  <form action="edit-message" method="POST">
                     <input class="edit-message-input" type="text" name="newMessage" placeholder="New text..."><br>
                     <input style="display: none;" type="text" name="msgId" value=""><br>
                     <button class="edit-message-btn save-msg" type="text">Save</button>
                  </form>
                  <form class="remove-msg" action="delete-message" method="POST">
                     <input class="msgIdDel" style="display: none;" type="text" name="msgId" value=""><br>
                     <button class="edit-message-btn delete-msg" type="text">
                        <span class="material-icons-round">delete_outline</span>
                     </button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h3 class="chat-title">Chat</h3>
   <div class="messages">
      <%foundItems.forEach(function(item) {%>
         <% if (item.user == user.name) { %>
            <!-- This user's messages -->
            <div class="message message-right" data-id="<%=item._id%>">
               <img title="<%=item.user%> " class="image-right" src=<%= `Avatars/${item.avatar}.png` %>>
               <div class="shape-right"></div>
               <div class="little-chat-box">
                  <span class="chat-text"><%=item.input%></span>
                  <br>
                  <% if (item.datePosted) { %>
                     <span class="time"><%=`${item.datePosted.getHours()}:${item.datePosted.getMinutes()} on ${item.datePosted.getDate()}/${item.datePosted.getMonth()+1}/${item.datePosted.getFullYear()}`%></span>
                  <% } %>
                  <div class="chat-edit-message">
                     <img class="chat-edit-img" src="Chat/pencil.png" onclick="
                        if (this.parentNode.classList.contains('open')) {
                           this.parentNode.classList.remove('open');
                        }
                        else { this.parentNode.classList.add('open'); }
                     ">
                     <div class="edit-msg-btns">
                        <form action="edit-message" method="POST">
                           <input class="edit-message-input" type="text" name="newMessage" placeholder="New text..."><br>
                           <input style="display: none;" type="text" name="msgId" value="<%=item._id%>"><br>
                           <button class="edit-message-btn save-msg" type="text">Save</button>
                        </form>
                        <form class="remove-msg" action="delete-message" method="POST">
                           <input style="display: none;" type="text" name="msgId" value="<%=item._id%>"><br>
                           <button class="edit-message-btn delete-msg" type="text">
                              <span class="material-icons-round">delete_outline</span>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Here are the messages by other people -->
            <%} else { %>
               <div class="message">
                  <img title="<%=item.user%>" class="image" src=<%= `Avatars/${item.avatar}.png` %>>
                  <div class="shape"></div>
                  <div class="little-chat-box">
                     <%=item.input%>
                     <br>
                     <% if (item.datePosted) { %>
                        <span class="time"><%=`${item.datePosted.getHours()}:${item.datePosted.getMinutes()} on ${item.datePosted.getDate()}/${item.datePosted.getMonth()+1}/${item.datePosted.getFullYear()}`%></span>
                     <% } %>
                  </div>
               </div>
            <% } %>
      <%});%>
   </div>
   <form action="chat-message" method="POST" id="post-chat-msg">
      <input style="display: none;" class="chat-posted-time" type="date" name="time"><br>
      <input class="input" type="text" name="message" placeholder="Message..." required><br>
      <button style="display: none;" class="chatbox-post" type="text">Post</button>
   </form>

   <!-- Switch chat -->
   <div class="menu-switchchat">
      <%chats.forEach(function(obj) {%>
         <% if (user.chats.includes(obj.code)) { %>
            <p><%= obj.code %> : <%= obj.name %></p>
         <% } %>
      <%});%>
   </div>

</div>
<script src="Scripts/miniChat.js"></script>
