<link rel="stylesheet" href="cornerchat.css">
<div class="chatbox">
    <h3 class="title" onclick="if (document.querySelector('.chatbox').classList.contains('open')) { document.querySelector('.chatbox').classList.remove('open'); } else { document.querySelector('.chatbox').classList.add('open'); } ">Chat</h3>
    <div class="messages">
       <%foundItems.forEach(function(item) {%>
          <% if (item.user == user.name) { %>
            <!-- This user's messages -->
             <div class="message message-right" data-id="<%=item._id%>">
               
               

               <!-- <details>
                  <summary>
                     <span class="summary-title">Details element with custom arrow!</span>
                     <div class="summary-chevron-up">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                     </div>
                  </summary>
               
                  <div class="summary-content">Give me attention or face the wrath of my claws give me attention or face the wrath of my claws and pretend not to be evil cats go for world domination allways wanting food. Eat owner's food playing with balls of wool and meow and walk away, and bleghbleghvomit
                     my furball really tie the room together. Cuddle no cuddle cuddle love scratch scratch cat</div>
                  <div class="summary-chevron-down">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                     
               </details> -->





                <img title="<%=item.user%> " class="image-right" src=<%= `Avatars/${item.avatar}.png` %>>
                <div class="shape-right"></div>
                <p>
                   <%=item.input%>
                   <br>
                   <span class="time"><%=`${item.datePosted.getHours()}:${item.datePosted.getMinutes()} on ${item.datePosted.getDate()}/${item.datePosted.getMonth()+1}/${item.datePosted.getFullYear()}`%></span>
                </p>
             </div>
          <%} else { %>
             <div class="message">
                <img title="<%=item.user%> " class="image" src=<%= `Avatars/${item.avatar}.png` %>>
                <div class="shape"></div>
                <p>
                   <%=item.input%>
                   <br>
                   <span class="time"><%=`${item.datePosted.getHours()}:${item.datePosted.getMinutes()} on ${item.datePosted.getDate()}/${item.datePosted.getMonth()+1}/${item.datePosted.getFullYear()}`%></span>
                </p>
             </div>
          <% } %>
      <%})%>
    </div>
    <form action="chat-message" method="POST">
       <input class="input" type="text" name="message" placeholder="Message..." required><br>
       <button style="display: none;" class="chatbox-post" type="text">Post</button>
   </form>
</div>