<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="chat.css">
    <link rel="stylesheet" href="cornerchat.css">
</head>
<body  onmousemove="getCoords(event)">
    <% if (user !== "(not signed in)") { %>
        
      <div class="info">
         <div class="workerInfo">
            <img class="infoImg workers" src="New Vegetable/worker.jpg" onmouseenter="info(this)">
            <p class=""></p>
            <p class="avalibleWorkers"></p>
            <div class="console"></div>
         </div>
         <div class="resourceInfo">
            <img class="infoImg lumber" src="New Vegetable/lumber.jpg" onmouseenter="info(this)">
            <img class="infoImg planks" src="New Vegetable/planks.jpg" onmouseenter="info(this)">
            <p class="coins"></p>
         </div>
      </div>
      <div class="taskOccuring">
         <h2>WORKING</h2>
      </div>
      <div class="workBuildings">
         <h2>BUILDINGS</h2>
      </div>
      <div class="passiveBuildings">
         <h2>BUILDINGS</h2>
      </div>
      <div class="store">
         <h2>STORE</h2>
         <div class="store-item">
            <h3>Basic Hut</h3>
            <img class="building" src="New Vegetable/Passive Buildings/basic-hut.png">
            <button onclick="build_BasicHut()">Purchase</button>
         </div>
      </div>






      <div class="chatbox">
         <h3 class="title" onclick="if (document.querySelector('.chatbox').classList.contains('open')) { document.querySelector('.chatbox').classList.remove('open'); } else { document.querySelector('.chatbox').classList.add('open'); } ">Chat</h3>
         <div class="messages">
            <%foundItems.forEach(function(item) {%>
               <% if (item.user == user.name) { %>
                  <div class="message message-right">
                     <img title="<%=item.user%> " class="image-right" src=<%= `Avatars/${item.avatar}.png` %>>
                     <div class="shape-right"></div>
                     <p><%=item.input%></p>
                  </div>
               <%} else { %>
                  <div class="message">
                     <img title="<%=item.user%> " class="image" src=<%= `Avatars/${item.avatar}.png` %>>
                     <div class="shape"></div>
                     <p><%=item.input%></p>
                  </div>
               <% } %>
           <%})%>
         </div>
         <form action="chat-message" method="POST">
            <input class="input" type="text" name="message" placeholder="Message..." required><br>
            <button style="display: none;" class="chatbox-post" type="text">Post</button>
        </form>
      </div>
      <%} else { %>
         <div class="not-signed-in">
            <div class="not-signed-inner">
               <h2 style="text-align: center;">Welcome to Vegetable Dash!</h2>
               <h4 style="text-align: center;">You are not signed in</h4><br>
               <div class="opening">
                  <p>Do you have an account?</p><a href="/sign-in">Sign in!</a><br><br>
                  <p>Don't have an account?</p><a href="/create-account">Create an account!</a>
               </div>
            </div>
         </div>
      <% } %>
</body>
<script src="farmgame.js"></script>
</html>