<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="shortcut icon" href="Images/Global Assets/logo.svg" type="image/x-icon">
   <link rel="stylesheet" href="home.css">
   <title>Home</title>
</head>
<body>
   <!-- If signed in -->
   <% if (user !== "(not signed in)") { %>
      <div class="signed-in">
         <!-- About your account -->
         <h2 style="color: #fff; font-family: 'Nunito';">Welcome, you are signed in as <%- user.name %></h2><br>
         <div class="opening">
            <img class="yourAvatar" src=<%= `Avatars/${user.avatar}.png` %>>
            <p class="playButton" style="display: inline;"><a href="/vegetable-dash">Vegetable Dash!</a></p><br><br><br><br>
            <!-- Farm run -->
            <h1><a href="/chat">Farm Run (WARNING - Still in Alpha)</a></h1><br><br>
            <!-- Chat -->
            <p class="stylish-p" onclick="if (document.querySelector('.chatbox').classList.contains('open')) { document.querySelector('.chatbox').classList.remove('open'); } else { document.querySelector('.chatbox').classList.add('open'); } ">Chat</p>
            <!-- Sign out -->
            <p class="stylish-p">Ready to leave?</p><a href="/sign-out">Sign out!</a>
            <!-- Friends -->
            <p class="stylish-p" onclick="if (document.querySelector('.friends').classList.contains('open')) { document.querySelector('.friends').classList.remove('open'); } else { document.querySelector('.friends').classList.add('open'); } ">Friends</p>
            <!-- Choose a diffrent avatar -->
            <p class="stylish-p" onclick="if (document.querySelector('.choose-new-avatar').classList.contains('open')) { document.querySelector('.choose-new-avatar').classList.remove('open'); } else { document.querySelector('.choose-new-avatar').classList.add('open'); } ">Pick a new avatar</p>
            <!-- Create a private chat -->
            <p class="stylish-p" onclick="if (document.querySelector('.createChat').classList.contains('open')) { document.querySelector('.createChat').classList.remove('open'); } else { document.querySelector('.createChat').classList.add('open'); } ">Make a chat</p>
         </div>
      </div>
      <!-- Create new private chat -->
      <div class="createChat">
         <p class="big-title">Make a private chat</p><br>
         <p class="p-tag">1. Name the chat</p>
         <p class="p-tag">2. Choose who to invite (note - you can only invite friends)</p>
         <p class="p-tag">3. Create it!</p>
         <button>Let's go!</button>
         <button class="second-button" onclick="if (document.querySelector('.createChat').classList.contains('open')) { document.querySelector('.createChat').classList.remove('open'); } else { document.querySelector('.createChat').classList.add('open'); } ">Let's not!</button>
         <button class="third-button">Let's stay!</button>
      </div>
      <!-- Friends -->
      <div class="friends">
         <p class="big-title">Your Friends</p><br>
         <div class="friendbox">
            <%users.forEach(function(someUser, i) {%>
               <% if (user.friends.includes(someUser.name)) { %>
                  <div class="friend">
                     <p class="num"><%=user.friends.indexOf(someUser.name) + 1%></p>
                     <img class="avatar" src=<%= `Avatars/${someUser.avatar}.png` %>><br>
                     <p class="name"><%=someUser.name%></p>
                  </div>
               <%}%>
            <%})%>
         </div>
         <br><br>
         <div>
            <p class="big-title">Find Friends!</p><br>
            <div class="friendbox">
               <%users.forEach(function(someUser, i) {%>
                  <% if (someUser.name !== user.name && !user.friends.includes(someUser.name) && !user.friendInvitesSent.includes(someUser.name) && !user.friendInvitesRecived.includes(someUser.name)) { %>
                     <div class="friend">
                        <p class="num"><%=i + 1%></p>
                        <img class="avatar" src=<%= `Avatars/${someUser.avatar}.png` %>><br>
                        <p class="name"><%=someUser.name%></p>
                        <form action="send-friend-request" method="POST">
                           <input style="display: none;" name="thisUser" value="<%- user.name %>">
                           <input style="display: none;" name="thatUser" value="<%- someUser.name %>">
                           <button class="friend-btn">Befriend</button>
                        </form>
                     </div>
                  <%}%>
               <%})%>
            </div>
         </div>
         <div>
            <p class="big-title">These people want to be your friend.</p><br>
            <div class="friendbox">
               <%users.forEach(function(someUser, i) {%>
                  <% if (user.friendInvitesRecived.includes(someUser.name)) { %>
                     <div class="friend">
                        <p class="num"><%=user.friendInvitesRecived.indexOf(someUser.name) + 1%></p>
                        <img class="avatar" src=<%= `Avatars/${someUser.avatar}.png` %>><br>
                        <p class="name"><%=someUser.name%></p>
                        <form action="accept-friend-request" method="POST">
                           <input style="display: none;" name="thisUser" value="<%- user.name %>">
                           <input style="display: none;" name="thatUser" value="<%- someUser.name %>">
                           <button class="friend-btn">Accept</button>
                        </form>   
                     </div>
                  <%}%>
               <%})%>
            </div>
         </div>
         <div>
            <p class="big-title">You have asked these people to be your friend.</p><br>
            <div class="friendbox">
               <%users.forEach(function(someUser, i) {%>
                  <% if (user.friendInvitesSent.includes(someUser.name)) { %>
                     <div class="friend">
                        <p class="num"><%=user.friendInvitesSent.indexOf(someUser.name) + 1%></p>
                        <img class="avatar" src=<%= `Avatars/${someUser.avatar}.png` %>><br>
                        <p class="name"><%=someUser.name%></p>
                     </div>
                  <%}%>
               <%})%>
            </div>
         </div>
         <p class="friend-btn" onclick="if (document.querySelector('.friends').classList.contains('open')) { document.querySelector('.friends').classList.remove('open'); } else { document.querySelector('.friends').classList.add('open'); } ">Go back</p>
      </div>
      <!-- Choose a diffrent avatar -->
      <div class="choose-new-avatar">
         <form action="choose-avatar" method="POST">
            <div>
                <label><input type="radio" name="avatar" value="1" checked><img class="choose-avatar" src="Avatars/1.png"></label>
                <label><input type="radio" name="avatar" value="2"><img class="choose-avatar" src="Avatars/2.png"></label>
                <label><input type="radio" name="avatar" value="3"><img class="choose-avatar" src="Avatars/3.png"></label>
                <label><input type="radio" name="avatar" value="4"><img class="choose-avatar" src="Avatars/4.png"></label>
                <label><input type="radio" name="avatar" value="5"><img class="choose-avatar" src="Avatars/5.png"></label>
                <br>
                <label><input type="radio" name="avatar" value="6"><img class="choose-avatar" src="Avatars/6.png"></label>
                <label><input type="radio" name="avatar" value="7"><img class="choose-avatar" src="Avatars/7.png"></label>
                <label><input type="radio" name="avatar" value="8"><img class="choose-avatar" src="Avatars/8.png"></label>
                <label><input type="radio" name="avatar" value="9"><img class="choose-avatar" src="Avatars/9.png"></label>
                <label><input type="radio" name="avatar" value="10"><img class="choose-avatar" src="Avatars/10.png"></label>
                <br>
                <label><input type="radio" name="avatar" value="11"><img class="choose-avatar" src="Avatars/11.png"></label>
                <label><input type="radio" name="avatar" value="12"><img class="choose-avatar" src="Avatars/12.png"></label>
                <label><input type="radio" name="avatar" value="13"><img class="choose-avatar" src="Avatars/13.png"></label>
                <label><input type="radio" name="avatar" value="14"><img class="choose-avatar" src="Avatars/14.png"></label>    
            </div>
            <button class="post-button" type="text">Pick</button>
        </form>
        <br><br>
        <p class="stylish-p" onclick="if (document.querySelector('.choose-new-avatar').classList.contains('open')) { document.querySelector('.choose-new-avatar').classList.remove('open'); } else { document.querySelector('.choose-new-avatar').classList.add('open'); } ">Leave without new avatar</p><br><br>
        <p class="stylish-p">Avatar icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      </div>
      <!-- Chat -->
      <%- include("partials/miniChat"); %>
   <!-- If not signed in -->
   <%} else { %>
      <div class="not-signed-in">
         <div class="not-signed-inner">
            <h2 style="text-align: center;">Welcome to Vegetable Dash!</h2>
            <h4 style="text-align: center;">You are not signed in</h4><br>
            <div class="opening">
               <p class="stylish-p">Do you have an account?</p><a href="/sign-in">Sign in!</a><br><br>
               <p class="stylish-p">Don't have an account?</p><a href="/create-account">Create an account!</a>
            </div>
         </div>
      </div>
   <% } %>
</body>
</html>
