<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link rel="shortcut icon" href="Images/Global Assets/logo.svg" type="image/x-icon">
   <link rel="stylesheet" href="Styles/home.css">
   <link rel="stylesheet" href="Styles/noticeboard-windows.css">
   <title>Home</title>
</head>
<body>
   <!-- If signed in -->
   <% if (user !== "(not signed in)") { %>
      <div class="page">
         <div class="menubar">
            <img class="menu-logo" src="https://raw.githubusercontent.com/Squirrel-314/vegetable-dash/6350bdf2e9a47f1dc38f5f7b0077850877563f8d/assets/Images/Global%20Assets/logo.svg" alt="Vegetable Dash">
            <img class="menu-userimg" alt="Your avatar" src=<%= `Avatars/${user.avatar}.png` %>>
            <div class="menu-username">
               <p>Welcome, <%- user.name %></p>
            </div>
            <div class="play"><a href="/vegetable-dash">Vegetable Dash</a></div>
            <div class="play"><a href="/chat">Farm Run</a></div>
            <div class="menu-username">
               <p>Menu</p>
            </div>
            <p class="menu-option signout"><a href="/sign-out">Sign out</a></p>
            <p class="menu-option friends" onclick="toggleWindow('friends')">Friends</p>
            <p class="menu-option chats"   onclick="toggleWindow('chats')"  >Chats</p>
            <p class="menu-option account" onclick="toggleWindow('account')">Account</p>
            <p class="menu-option setting" onclick="toggleWindow('setting')">Settings</p>
         </div>
         <%- include("partials/gameNews"); %>
      </div>
      <!-- Windows -->
      <div class="tab-window-backdrop window-friends">
         <div class="tab-window">
            <div class="tab-bar">
               <div class="tab tab-friends tab-friends-your active-tab" onclick="scrollToSection('friends', 'your')">Friends</div>
               <div class="tab tab-friends tab-friends-sent" onclick="scrollToSection('friends', 'sent')">Requests</div>
               <div class="tab tab-friends tab-friends-received" onclick="scrollToSection('friends', 'received')">Invites</div>
               <div class="tab tab-friends tab-friends-find" onclick="scrollToSection('friends', 'find')">Find Friends</div>
               <span class="window-close" onclick="toggleWindow('friends')">x</span>
            </div>
            <div class="tab-pages">
               <div class="page" id="page-friends-your">
                  <h1 class="big-title">Your Friends</h1>
                  <p>You have befriended these people.</p>
                  <div class="friendbox">
                     <%users.forEach(function(someUser, i) {%>
                        <% if (user.friends.includes(someUser.userCode)) { %>
                           <div class="friend">
                              <p class="num"><%=user.friends.indexOf(someUser.userCode) + 1%></p>
                              <img class="avatar" src=<%= `Avatars/${someUser.avatar}.png` %>><br>
                              <p class="name"><%=someUser.name%></p>
                           </div>
                        <%}%>
                     <%})%>
                  </div>         
               </div>
               <div class="page" id="page-friends-sent">
                  <h1 class="big-title">Invites Sent</h1>
                  <p>You want these people to be your friend.</p>
                  <div class="friendbox">
                     <%users.forEach(function(someUser, i) {%>
                        <% if (user.friendInvitesSent.includes(someUser.userCode)) { %>
                           <div class="friend">
                              <p class="num"><%=user.friendInvitesSent.indexOf(someUser.userCode) + 1%></p>
                              <img class="avatar" src=<%= `Avatars/${someUser.avatar}.png` %>><br>
                              <p class="name"><%=someUser.name%></p>
                           </div>
                        <%}%>
                     <%})%>
                  </div>
               </div>
               <div class="page" id="page-friends-received">
                  <h1 class="big-title">Invites Received</h1>
                  <p>These people what to be your friend.</p>
                  <div class="friendbox">
                     <%users.forEach(function(someUser, i) {%>
                        <% if (user.friendInvitesRecived.includes(someUser.userCode)) { %>
                           <div class="friend">
                              <p class="num"><%=user.friendInvitesRecived.indexOf(someUser.userCode) + 1%></p>
                              <img class="avatar" src=<%= `Avatars/${someUser.avatar}.png` %>><br>
                              <p class="name"><%=someUser.name%></p>
                              <form action="accept-friend-request" method="POST">
                                 <input style="display: none;" name="thisUser" value="<%- user.userCode %>">
                                 <input style="display: none;" name="thatUser" value="<%- someUser.userCode %>">
                                 <button class="friend-btn">Accept</button>
                              </form>   
                           </div>
                        <%}%>
                     <%})%>
                  </div>
               </div>
               <div class="page" id="page-friends-find">
                  <h1 class="big-title">Find Friends</h1>
                  <p>Search for friends.</p>
                  <div class="friendbox">
                     <%users.forEach(function(someUser, i) {%>
                        <% if (someUser.userCode !== user.userCode && !user.friends.includes(someUser.userCode) && !user.friendInvitesSent.includes(someUser.userCode) && !user.friendInvitesRecived.includes(someUser.userCode)) { %>
                           <div class="friend">
                              <p class="num"><%=i + 1%></p>
                              <img class="avatar" src=<%= `Avatars/${someUser.avatar}.png` %>><br>
                              <p class="name"><%=someUser.name%></p>
                              <form action="send-friend-request" method="POST">
                                 <input style="display: none;" name="thisUser" value="<%- user.userCode %>">
                                 <input style="display: none;" name="thatUser" value="<%- someUser.userCode %>">
                                 <button class="friend-btn">Befriend</button>
                              </form>
                           </div>
                        <%}%>
                     <%})%>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-window-backdrop window-chats"  >
         <div class="tab-window">
            <div class="tab-bar">
               <div class="tab tab-chats tab-chats-private active-tab" onclick="scrollToSection('chats','private')">Private Chats</div>
               <span class="window-close" onclick="toggleWindow('chats')">x</span>
            </div>
            <div class="tab-pages">
               <div id="page-chats-private" class="createChat page">
                  <p class="big-title">Make a private chat</p><br>
                  <p>(Feature currently unavalible)</p>
                  <p class="p-tag">1. Name the chat</p>
                  <p class="p-tag">2. Choose who to invite (note - you can only invite friends)</p>
                  <p class="p-tag">3. Create it!</p>
                  <button>Let's go!</button>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-window-backdrop window-account">
         <div class="tab-window">
            <div class="tab-bar">
               <div class="tab tab-account tab-account-general active-tab" onclick="scrollToSection('account', 'general')">General</div>
               <div class="tab tab-account tab-account-avatar" onclick="scrollToSection('account', 'avatar')">Avatar</div>
               <span class="window-close" onclick="toggleWindow('account')">x</span>
            </div>
            <div class="tab-pages">
               <div class="page" id="page-account-general">
                  <h1>General</h1>
                  <p>At the moment, it is not possible to change your account information. It would be easy to implement, but unless intrest is shown, I won't invest the time. Also, if you really want, I could easily make it so that if you signed it with GitHub, it uses your profile image. I don't have much online storage space, so you can't upload pictures here. Maybe I'll do it so you can use an external link. Maybe I won't. :)</p>
                  <form id="change-account-info-form" action="change-account-info" method="POST">
                     <input class="input-text" value="<%= user.name %>" type="text" name="name" placeholder="Name" required><br>
                     <input class="input-text" value="<%= user.email %>" type="email" name="emil" placeholder="Email" required><br>            
                     <input class="post-button" value="Update Account" type="submit">
                  </form>
               </div>
               <div class="page" id="page-account-avatar">
                  <h1>Avatar</h1>
                  <p>Change your avatar!</p>
                  <form id="chooseAvatarForm" action="choose-avatar" method="POST">
                     <div class="choose-avatar-parent">
                        <label><input type="radio" name="avatar" value="1" checked><img class="choose-avatar" src="Avatars/1.png"></label>
                        <label><input type="radio" name="avatar" value="2"><img class="choose-avatar" src="Avatars/2.png"></label>
                        <label><input type="radio" name="avatar" value="3"><img class="choose-avatar" src="Avatars/3.png"></label>
                        <label><input type="radio" name="avatar" value="4"><img class="choose-avatar" src="Avatars/4.png"></label>
                        <label><input type="radio" name="avatar" value="5"><img class="choose-avatar" src="Avatars/5.png"></label>
                        <label><input type="radio" name="avatar" value="6"><img class="choose-avatar" src="Avatars/6.png"></label>
                        <label><input type="radio" name="avatar" value="7"><img class="choose-avatar" src="Avatars/7.png"></label>
                        <label><input type="radio" name="avatar" value="8"><img class="choose-avatar" src="Avatars/8.png"></label>
                        <label><input type="radio" name="avatar" value="9"><img class="choose-avatar" src="Avatars/9.png"></label>
                        <label><input type="radio" name="avatar" value="10"><img class="choose-avatar" src="Avatars/10.png"></label>
                        <label><input type="radio" name="avatar" value="11"><img class="choose-avatar" src="Avatars/11.png"></label>
                        <label><input type="radio" name="avatar" value="12"><img class="choose-avatar" src="Avatars/12.png"></label>
                        <label><input type="radio" name="avatar" value="13"><img class="choose-avatar" src="Avatars/13.png"></label>
                        <label><input type="radio" name="avatar" value="14"><img class="choose-avatar" src="Avatars/14.png"></label>    
                     </div>
                     <input class="post-button" value="Pick" type="submit">
                  </form>
                  <p class="stylish-p">Avatar icons made by <a class="a" href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a class="a" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p><br>
                  <a class="a" href="https://www.flaticon.com/free-icons/pencil" title="pencil icons">Chat pencil icon created by Freepik - Flaticon</a><br>
                  <a class="a" href="https://www.flaticon.com/free-icons/people" title="people icons">People icons created by Pixel perfect - Flaticon</a>          
               </div>
            </div>
         </div>
      </div>
      <div class="tab-window-backdrop window-setting">
         <div class="tab-window">
            <div class="tab-bar">
               <div class="tab tab-settings tab-settings-general active-tab" onclick="scrollToSection('settings', 'general')">General</div>
               <span class="window-close" onclick="toggleWindow('setting')">x</span>
            </div>
            <div class="tab-pages">
               <div class="page" id="page-settings-general">
                  <h1>General Settings</h1>
                  <p>Nothing here yet!</p>
               </div>
            </div>
         </div>
      </div>
      <!-- Noticeboard -->
      <div class="noticeboard">
         <!-- <div class="page-notice upgrade">
            <span class="remove" onclick="this.parentNode.remove()">x</span>
            <p class="heading">UPDATED! 🎉</p>
            <p class="text">This site has been updated! It's awsomer now! Yay! If you like it, bookmark it! This is your favorite website now! :)</p>
         </div> -->
      </div>
      <!-- Alert -->
      <%- include("partials/alert"); %>
      <!-- Chat -->
      <%- include("partials/miniChat"); %>
   <!-- If not signed in -->
   <%} else { %>
      <%- include("partials/loggedOut"); %>
   <% } %>
</body>
<script src="Scripts/home.js"></script>
<script>
function scrollToSection(window, id) {
   document.querySelector(`#page-${window}-${id}`).scrollIntoView();
   document.querySelectorAll(`.active-tab.tab-${window}`)[0].classList.remove("active-tab");
   document.querySelector(`.tab-${window}-${id}`).classList.add("active-tab");
}

function toggleWindow(id) {
   let thisWindow = document.querySelector(`.window-${id}`);
   if (thisWindow.style.opacity == "1") {
      thisWindow.style.opacity = "0";
      thisWindow.style.pointerEvents = "none";
      thisWindow.style.zIndex = "-1000";
   }
   else {
      thisWindow.style.opacity = "1";
      thisWindow.style.pointerEvents = "auto";
      thisWindow.style.zIndex = "1000";
   }
}
</script>
<script src="https://www.w3counter.com/tracker.js?id=134512"></script>
<script src="https://www.w3counter.com/tracker.js?id=140885"></script>
</html>
