<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <script type="text/javascript">var timerStart = Date.now();</script>
      <meta charset="utf-8">
      <meta name="description" content="Vegetable Dash, a fun farming game with bright pictures and bright futures!">
      <!-- My number shortener library -->
      <script src="https://editorrust.github.io/digit/main.js" charset="utf-8"></script>
      <link rel="shortcut icon" href="Images/Global Assets/logo.svg" type="image/x-icon">
      <title>Vegetable Dash!</title>
      <!-- Styles -->
      <link rel="stylesheet" href="Styles/Vegetable Dash/main.css">
      <link rel="stylesheet" href="Styles/noticeboard-windows.css">
      <!-- More styles -->
      <link rel="stylesheet" href="Styles/Vegetable Dash/market.css">
      <link rel="stylesheet" href="Styles/Vegetable Dash/tasks.css">
      <link rel="stylesheet" href="Styles/Vegetable Dash/help.css">
      <link rel="stylesheet" href="Styles/Vegetable Dash/misc.css">
      <!-- Scripts -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="Scripts/inital-varibles.js" charset="utf-8"></script>
      <script src="Scripts/tasks.js" charset="utf-8"></script>
      <!-- Google Fonts -->
      <div>
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
         
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
      </div>
      <!-- Favicon donsn't work when div is above it -->
   </head>
   <% if (user !== "(not signed in)") { %>
   <body ondragstart="return false;">
      <div class="cover">
         <div class="meter">
           <span class="loading-progress" style="width: 0%"><span class="load-display">0%</span></span>
         </div>
      </div>
      <!-- Central Command -->
      <div class="cntrl-cmnd">
         <img onmouseover="info(this)" data-info="Help" onclick="showObj('.help-shadow'); gameData.helpOpen = true;" src="Images/Icons/help.svg">
         <img onmouseover="info(this)" data-info="Tasks" onclick="taskBar('close')" src="Images/New/tasks.png">
         <img onmouseover="info(this)" data-info="Market" onclick="showObj('.marketShadow'); gameData.marketOpen = true;" src="Images/Icons/market.svg">
         <img onmouseover="info(this)" data-info="Shop" onclick="toggleWindow('shop'); gameData.shopOpen = true;" src="Images/Icons/market.svg">
         <img onmouseover="info(this)" data-info="Hybridization Lab" onclick="toggleWindow('genelab'); gameData.genelabOpen = true;" src="Images/New/dna.png">
         <img onmouseover="info(this)" data-info="Settings" onclick="showObj('.settingShadow'); gameData.settingsOpen = true;" src="Images/Icons/settings.svg">
      </div>
      <!-- Land and Plots -->
      <div class="land">
         <img onclick="collectWeed(this)" class="weed" src="Images/Global Assets/weed.svg">
         <!-- Farm tools -->
         <div class="farmtools">
            <img class="farmtool-img" id="fertilizer" onclick="fertilizeHover()" src="Images/Global Assets/fertilizer.svg" onmouseover="info(this)" data-info="Hold + Drag to harvest">
            <img class="farmtool-img" onclick="tendDrag()" src="Images/Global Assets/sickle.svg" onmouseover="info(this)" data-info="Hold + Drag to harvest">
         </div>
      </div>
      <!-- Top amount thing -->
      <div class="main-values">
         <img src="Images/New/coin.png">
         <p class="main-value main-values-coins"></p>
         <img src="Images/New/dna.png">
         <p class="main-value main-values-genes"></p>
      </div>
      <!-- Produce count -->
      <div class="toolbar">
         <div class="produce-tooltip produce-tooltip-barrel">
            <img class="toolbar-img" src="Images/Icons/barrel.svg">
            <span class="tooltip-text tooltip-text-produce">
               <div class="vegAmount doughnutsAmount">
                  <span id="doughnuts">0</span>
                  <img class="produce-image" src="Images/Market/doughnut.png"><br>
               </div>
               <div class="vegAmount peasDisplay">
                  <span class="peas" id="peaBushels">0</span>
                  <img class="produce-image" src="Images/Vegetables/peas.png"><br>
               </div>
               <div class="vegAmount cornDisplay">
                  <span class="corn" id="cornBushels">0</span>
                  <img class="produce-image" src="Images/Vegetables/corn.png"><br>
               </div>
               <div class="vegAmount strawberriesDisplay">
                  <span class="strawberries" id="strawberryBushels">0</span>
                  <img class="produce-image" src="Images/Vegetables/strawberries.png"><br>
               </div>
               <div class="vegAmount eggplantsDisplay">
                  <span class="eggplants" id="eggplantBushels">0</span>
                  <img class="produce-image" src="Images/Vegetables/eggplants.png"><br>
               </div>
               <div class="vegAmount pumpkinsDisplay">
                  <span class="pumpkins" id="pumpkinBushels">0</span>
                  <img class="produce-image" src="Images/Vegetables/pumpkin.svg"><br>
               </div>
               <div class="vegAmount cabbageDisplay">
                  <span class="cabbage" id="cabbageBushels">0</span>
                  <img class="produce-image" src="Images/Vegetables/cabbage.svg"><br>
               </div>
               <div class="vegAmount dandelionDisplay">
                  <span class="dandelion" id="dandelionBushels">0</span>
                  <img class="produce-image" src="Images/Vegetables/dandelion.png"><br>
               </div>
               <div class="vegAmount rhubarbDisplay">
                  <span class="rhubarb" id="rhubarbBushels">0</span>
                  <img class="produce-image" src="Images/Vegetables/rhubarb.png"><br>
               </div>
            </span>
         </div>
      </div>
      <!-- Tasks -->
      <div class="tasks">
         <div class="taskShadow" onclick="taskBar('open');"></div>
         <img class="aTaskIsReady" src="Images/Animations/task-complete.gif">
         <div class="taskContent">
            <div class="task-block-parent">
               <div class="task-block task-block-1" onmouseover="taskHover(1)" onmouseleave="taskUnHover(1)">
                  <div class="task-info">
                     <div class="task-info-a task-info-demand task-info-1"></div>
                     <img class="task-info-c task-info-img task-info-img-1">
                     <h4 class="task-info-b task-info-giver-1"></h4>
                  </div>
                  <button class="depth-button red task-submit-depth-button task-info-button-1"></button>
               </div>
            </div>
            <div class="task-block-parent">
               <div class="task-block task-block-2" onmouseover="taskHover(2)" onmouseleave="taskUnHover(2)">
                  <div class="task-info">
                     <div class="task-info-a task-info-demand task-info-2"></div>
                     <img class="task-info-c task-info-img task-info-img-2">
                     <h4 class="task-info-b task-info-giver-2"></h4>
                  </div>
                  <button class="depth-button purple task-submit-depth-button task-info-button-2"></button>
               </div>
            </div>
            <div class="task-block-parent">
               <div class="task-block task-block-3" onmouseover="taskHover(3)" onmouseleave="taskUnHover(3)">
                  <div class="task-info">
                     <div class="task-info-a task-info-demand task-info-3"></div>
                     <img class="task-info-c task-info-img task-info-img-3">
                     <h4 class="task-info-b task-info-giver-3"></h4>
                  </div>
                  <button class="depth-button green task-submit-depth-button task-info-button-3"></button>
               </div>
            </div>
            <div class="task-block-parent">
               <div class="task-block task-block-4" onmouseover="taskHover(4)" onmouseleave="taskUnHover(4)">
                  <div class="task-info">
                     <div class="task-info-a task-info-demand task-info-4"></div>
                     <img class="task-info-c task-info-img task-info-img-4">
                     <h4 class="task-info-b task-info-giver-4"></h4>
                  </div>
                  <button class="depth-button blue task-submit-depth-button task-info-button-4"></button>
               </div>
            </div>
         </div>
      </div>
      <!-- Market -->
      <div class="marketShadow">
         <div class="market">
            <div class="marketVegetables">
               <div class="market-item">
                  <div class="market-item-content">
                     <img class="market-veg-img" src="Images/Vegetables/peas.png">
                     <span class="peas-market-item"></span>
                  </div>
                  <div class="buy-sell">
                     <span class="peas-buy market-item-buy" onmouseover="info(this)" data-info="" onclick="buyProduce('peas')">Buy</span>
                     <span class="peas-sell market-item-sell" onmouseover="info(this)" data-info="" onclick="sellProduce('peas')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content">
                     <img class="market-veg-img" src="Images/Vegetables/corn.png">
                     <span class="corn-market-item"></span>
                  </div>
                  <div class="buy-sell">
                     <span class="corn-buy market-item-buy" onmouseover="info(this)" data-info="" onclick="buyProduce('corn')">Buy</span>
                     <span class="corn-sell market-item-sell" onmouseover="info(this)" data-info="" onclick="sellProduce('corn')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content">
                     <img class="market-veg-img" src="Images/Vegetables/strawberries.png">
                     <span class="strawberries-market-item"></span>
                  </div>
                  <div class="buy-sell">
                     <span class="strawberries-buy market-item-buy" onmouseover="info(this)" data-info="" onclick="buyProduce('strawberries')">Buy</span>
                     <span class="strawberries-sell market-item-sell" onmouseover="info(this)" data-info="" onclick="sellProduce('strawberries')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content">
                     <img class="market-veg-img" src="Images/Vegetables/eggplants.png">
                     <span class="eggplants-market-item"></span>
                  </div>
                  <div class="buy-sell">
                     <span class="eggplants-buy market-item-buy" onmouseover="info(this)" data-info="" onclick="buyProduce('eggplants')">Buy</span>
                     <span class="eggplants-sell market-item-sell" onmouseover="info(this)" data-info="" onclick="sellProduce('eggplants')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content">
                     <img class="market-veg-img" src="Images/Vegetables/pumpkin.svg">
                     <span class="pumpkins-market-item"></span>
                  </div>
                  <div class="buy-sell">
                     <span class="pumpkins-buy market-item-buy" onmouseover="info(this)" data-info="" onclick="buyProduce('pumpkins')">Buy</span>
                     <span class="pumpkins-sell market-item-sell" onmouseover="info(this)" data-info="" onclick="sellProduce('pumpkins')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content">
                     <img class="market-veg-img" src="Images/Vegetables/cabbage.svg">
                     <span class="cabbage-market-item"></span>
                  </div>
                  <div class="buy-sell">
                     <span class="cabbage-buy market-item-buy" onmouseover="info(this)" data-info="" onclick="buyProduce('cabbage')">Buy</span>
                     <span class="cabbage-sell market-item-sell" onmouseover="info(this)" data-info="" onclick="sellProduce('cabbage')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content">
                     <img class="market-veg-img" src="Images/Vegetables/dandelion.png">
                     <span class="dandelion-market-item"></span>
                  </div>
                  <div class="buy-sell">
                     <span class="dandelion-buy market-item-buy" onmouseover="info(this)" data-info="" onclick="buyProduce('dandelion')">Buy</span>
                     <span class="dandelion-sell market-item-sell" onmouseover="info(this)" data-info="" onclick="sellProduce('dandelion')">Sell</span>
                  </div>
               </div>
               <div class="market-item">
                  <div class="market-item-content">
                     <img class="market-veg-img" src="Images/Vegetables/rhubarb.png">
                     <span class="rhubarb-market-item"></span>
                  </div>
                  <div class="buy-sell">
                     <span class="rhubarb-buy market-item-buy" onmouseover="info(this)" data-info="" onclick="buyProduce('rhubarb')">Buy</span>
                     <span class="rhubarb-sell market-item-sell" onmouseover="info(this)" data-info="" onclick="sellProduce('rhubarb')">Sell</span>
                  </div>
               </div>
            </div>
            <div class="market-item">
               <div class="market-item-content market-exchange">
                  <div class="market-exchange-content">
                     <h1 style="font-size: 4vh; position: absolute; top: 1vh; left: 0; right: 0;">Exchange Market</h1>
                     <div class="exchange-market-item">
                        Merchant
                        <p class="exchange-merchant">Name Here</p>
                     </div>
                     <div class="exchange-market-item">
                        Offer
                        <p class="exchange-offer">x Veg</p>
                     </div>
                     <div class="exchange-market-item">
                        Demand
                        <p class="exchange-demand">n Veg </p>
                     </div>
                  </div>
               </div>
               <div class="accept-deny">
                  <span class="market-item-buy" onclick="acceptExchange();">Accept</span>
                  <span class="market-item-sell" onclick="generateExchange();">Decline</span>
               </div>
            </div>
            <div class="market-item market-lasters">
               <div class="market-item-content blackMarketHome" onclick="showObj('.blackMarketShadow'); gameData.blackMarketOpen = true;">
                  <span style="font-size: 10vh; font-weight: 800; font-family: 'Nunito'">Black Market</span>
               </div>
            </div>
            <div class="market-item market-lasters">
               <div class="market-item-content reset-market-item">
                  <h1>Market Resets</h1>
                  <p>Reset all market buy and sell values. (<span class="market-resets"></span>)</p>
                  <button onclick="resetMarketValues()" class="use-market-reset-button">Use</button>
                  <div class="more-info-tooltip">
                     <img src="Images/Global Assets/more-info.svg" id="market-reset-more-info">
                     <span class="tooltip-text">There is a 1% chance of collecting one after each trade, and a 5% chance after each harvest.</span>
                  </div>
               </div>
            </div>
            <br>
         </div>
         <button onclick="hideObj('.marketShadow'); gameData.marketOpen = false;" class="close closeMarket">&#215;</button>
      </div>
      <!-- Settings -->
      <div class="shadow settingShadow">
         <div class="modalContent settings">
            <span onclick="hideObj('.settingShadow'); gameData.settingsOpen = false;" class="closeModal">X</span>
            <h1>Settings</h1>
            <button class="setting-button" onclick="restart()">Restart</button><br>
            <button class="setting-button theme-clr" onclick="lightTheme()">Light Theme</button>
            <button class="setting-button theme-clr" onclick="randTheme()">Random Theme</button>
            <button class="setting-button theme-clr" onclick="darkTheme()">Dark Theme</button>
         </div>
      </div>
      <!-- Black Market -->
      <div class="shadow blackMarketShadow">
         <div class="modalContent blackMarket">
            <span onclick="hideObj('.blackMarketShadow'); gameData.blackMarketOpen = false;" class="closeModal">X</span>
            <h3>Black Market</h3>
            <div class="BM-parent">
               <div class="BM-menu">
                  <p class="BM-menu-item">Offers</p>
                  <p class="BM-menu-item" style="color: #666">Selling: <br> <i>Coming Soon!</i></p>
                  <div class="BM-menu-bottom">
                     <p class="BM-menu-item BM-doughnuts"><img onclick="feedPolice();" class="black-doughnut" src="Images/Market/doughnut.png">use</p>
                     <p class="BM-menu-item" style="font-size: 3vh"><i>Tip:</i> Doughnuts reset the chance that the police will catch you. Current Chance: <span class="police-chance"></span></p>   
                  </div>
               </div>
               <div class="BM-offerbox">
                  <div class="BM-offerbox-info">
                     <div>Merchant <br> <span class="bmo-seller"></span></div>
                     <div>Selling <br> <span class="bmo-offer"></span></div>
                     <div>For <br> <span class="bmo-price"></span></div>
                  </div>
                  <div class="BM-choice">
                     <span class="BM-accept" onclick="accept()">Accept</span>
                     <span class="BM-decline" onclick="deny()">Deny</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Shop -->
      <div class="tab-window-backdrop window-shop">
         <div class="tab-window">
            <div class="tab-bar">
               <div class="tab tab-shop tab-shop-seeds active-tab" onclick="scrollToShopSection('shop', 'seeds')">Seeds</div>
               <div class="tab tab-shop tab-shop-plots" onclick="scrollToShopSection('shop', 'plots')">Plots</div>
               <span class="window-close" onclick="toggleWindow('shop'); gameData.shopOpen = false;">x</span>
            </div>
            <div class="tab-pages">
               <div class="page" id="page-shop-seeds">
                  <h1 class="big-title">Purchase New Plants</h1>
                  <div class="buy-plots-seeds">
                     <img class="buy-seeds-image">
                     <button class="buy-seeds-button"></button>
                  </div>
               </div>
               <div class="page" id="page-shop-plots">
                  <h1 class="big-title">Purchase New Plots</h1>
                  <div class="buy-plots-seeds">
                     <img class="buy-plots-image">
                     <button class="buy-plots-button"></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Gene lab -->
      <%- include("gamePartials/genelab"); %>
      <!-- Other -->
      <div>
         <!-- Help -->
         <%- include("gamePartials/help"); %>
         <!-- Weather -->
         <div class="weather-short">
            <div class="weather-img"></div>
            <h6 class="weather-name"></h6>
            <p class="weather-description"></p>
            <p class="weather-time">Time</p>
            <div onmouseover="info(this)" data-info="Last Weather" class="weather-last"></div>
            <div onmouseover="info(this)" data-info="Next Weather" class="weather-next"></div>
         </div>
         <!-- Various -->
         <div id="menu">
            <li class="menu-links"><a href="https://editorrust.github.io">About Editor Rust</a></li>
            <li class="menu-links"><a href="https://editorrust.github.io/gold-rush/">Gold Rush!</a></li>
            <hr>
            <li class="menu-links"><a href="https://github.com/editorrust/vegetable-dash">GitHub</a></li>
            <li><a href="mailto:editorrust@gmail.com">Support</a></li>
            <li>Version: 0.1.4</li>
         </div>
         <div class="qIM">
            <div class="vegAmount doughnutsDisplay">
               <span class="doughnuts">0</span>
               <img class="produce-image" src="Images/Market/doughnut.png"><br>
            </div>
            <div class="vegAmount peasDisplay">
               <span class="peas">0</span>
               <img class="produce-image" src="Images/Vegetables/peas.png"><br>
            </div>
            <div class="vegAmount cornDisplay">
               <span class="corn">0</span>
               <img class="produce-image" src="Images/Vegetables/corn.png"><br>
            </div>
            <div class="vegAmount strawberriesDisplay">
               <span class="strawberries">0</span>
               <img class="produce-image" src="Images/Vegetables/strawberries.png"><br>
            </div>
            <div class="vegAmount eggplantsDisplay">
               <span class="eggplants">0</span>
               <img class="produce-image" src="Images/Vegetables/eggplants.png"><br>
            </div>
            <div class="vegAmount pumpkinsDisplay">
               <span class="pumpkins">0</span>
               <img class="produce-image" src="Images/Vegetables/pumpkin.svg"><br>
            </div>
            <div class="vegAmount cabbageDisplay">
               <span class="cabbage">0</span>
               <img class="produce-image" src="Images/Vegetables/cabbage.svg"><br>
            </div>
            <div class="vegAmount dandelionDisplay">
               <span class="dandelion">0</span>
               <img class="produce-image" src="Images/Vegetables/dandelion.png"><br>
            </div>
            <div class="vegAmount rhubarbDisplay">
               <span class="rhubarb">0</span>
               <img class="produce-image" src="Images/Vegetables/rhubarb.png"><br>
            </div>
         </div>
         <div class="alert-box"><div class="alert alert-cominin">Game Saved!</div></div>
         <span style="display: none;"><div class="fade-text">This text is fading</div></span>
         <div class="introDarkShadow">
            <div class="intro-container">
               <img class="intro-img" src="Images/Tasks/farmer.svg">
               <img class="intro-divide" src="Images/Tasks/gold-separator.png">
               <p class="intro-text">Hello there! I'm Farmer Jebediah, and I have a favor to ask. I just got this new piece of land, and I was hoping you could work it.</p>
               <span onclick="intro()" class="intro-nxt-btn">&#10230;</span>
            </div>
         </div>
         <!-- Welcome -->
         <div class="welcome">
            <div class="welcome-content">
               <h1>Welcome to Vegetable Dash!</h1>
               <p class="wlcm-choice">Take a short tour, or figure it out on your own: The choice is your, and keep in mind you can check the Help Center (top left corner) at any time.</p>
               <button class="welcome-btn-one" onclick="goIntro(); gameData.intro = 'finished';">Take  <br> a quick <br>  tour</button>
               <button class="welcome-btn-two" onclick="hideObj('.welcome'); gameData.intro = 'finished';">Start <br> straight <br> away</button>
               <div>
                  <p>Questions? Comments? Suggestions? Having trouble? Please contact <a href="mailto:thehillsidetownship@gmail.com">thehillsidetownship@gmail.com</a></p>
                  <p>Disclaimer: While the game may be called Vegetable Dash, some plants may not be botanical vegetables, such as peas and corn.</p>
               </div>
            </div>
         </div>
      </div>
   </body>
   <!-- Chat -->
   <%- include("partials/miniChat"); %>
   <!-- Other -->
      <script>
         var userDataWorking = `<%- JSON.stringify(user) %>`;
         var playerName = JSON.parse(userDataWorking).name;
         var gameData = { intro: "not started" };
         var start = false;
         $.ajax({
            url: "/getdata",
            type: 'GET',
            dataType: 'json', // added data type
            success: function(res) {
               start = true;
               gameData = res.dataParcel;
            }
         });
      </script>
      <form action="save-vegetable-dash" method="POST" style="display: none;">
         <input class="data-save" type="text" name="gamesave" required><br>
         <button class="post-save" type="text">Post</button>
      </form>
      <script src="Scripts/main.js" charset="utf-8"></script>
      <script src="Scripts/check-signin-status.js"></script>
      <script>
         function scrollToShopSection(window, id) {
            document.querySelector(`#page-${window}-${id}`).scrollIntoView();
            document.querySelectorAll(`.active-tab.tab-${window}`)[0].classList.remove("active-tab");
            document.querySelector(`.tab-${window}-${id}`).classList.add("active-tab");
         }
         
         function toggleWindow(id) {
            let thisWindow = document.querySelector(`.window-${id}`);
            if (thisWindow.style.opacity == "1") {
               thisWindow.style.opacity = "0";
               thisWindow.style.pointerEvents = "none";
               thisWindow.style.zIndex = "-1000";
            }
            else {
               thisWindow.style.opacity = "1";
               thisWindow.style.pointerEvents = "auto";
               thisWindow.style.zIndex = "1000";
            }
         }
      </script>
   <%} else { %>
      <%- include("partials/loggedOut"); %>
   <% } %>
</html>
